# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Frontend/dist
Frontend/dist-server
Frontend/tmp
Frontend/out-tsc

# dependencies
Frontend/node_modules

# IDEs and editors
Frontend/.idea
Frontend/.project
Frontend/.classpath
Frontend/.c9/
*.launch
Frontend/.settings/
*.sublime-workspace

# IDE - VSCode
Frontend/.vscode/*
Frontend/!.vscode/settings.json
Frontend/!.vscode/tasks.json
Frontend/!.vscode/launch.json
Frontend/!.vscode/extensions.json

# misc
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/npm-debug.log
Frontend/yarn-error.log
Frontend/testem.log
Frontend/typings

# e2e
Frontend/e2e/*.js
Frontend/e2e/*.map

# System Files
Frontend/.DS_Store
Frontend/Thumbs.db



Backend/target/
Backend/!.mvn/wrapper/maven-wrapper.jar

### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans

### IntelliJ IDEA ###
Backend/.idea
Backend/*.iws
Backend/*.iml
Backend/*.ipr

### NetBeans ###
Backend/nbproject/private/
Backend/build/
Backend/nbbuild/
Backend/dist/
Backend/nbdist/
Backend/.nb-gradle/
