
<div class="navbar-fixed">
  <nav >
    <div class="nav-wrapper">
      <div>
        <a routerLink="/" class="brand-logo" style="display: flex;">Project<div style="color: #26a69a">SHARE</div></a>
      </div>
      <a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div *ngIf="userLoggedIn()">
        <ul class="right hide-on-med-and-down">
        <li><a routerLinkActive="active" routerLink="/project" >Main Board</a></li>
        <li><a routerLinkActive="active" routerLink="/project/view">Project</a></li>
        <li><a routerLinkActive="active" routerLink="/project/search">Search</a></li>
        <li><a routerLinkActive="active" routerLink="/project/create">Create</a></li>
        <li><a (click)="viewDefaultProfile()" routerLinkActive="active" routerLink="/user/view">View profile</a></li>
        <li><a routerLinkActive="active" routerLink="/user/account">Account</a></li>
        </ul>
      </div>
      <div *ngIf="!userLoggedIn()">
        <ul  class="right hide-on-med-and-down">
          <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
          <li><a routerLinkActive="active" routerLink="/register">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/project" >Main Board</a></li>
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/project/view">Project</a></li>
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/project/search">Search</a></li>
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/project/create">Create</a></li>
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/user/view">View profile</a></li>
  <li *ngIf="userLoggedIn()"><a class="sidenav-close" routerLink="/user/account">Account</a></li>
  <li *ngIf="!userLoggedIn()"><a class="sidenav-close" routerLink="/login">Login</a></li>
  <li *ngIf="!userLoggedIn()"><a class="sidenav-close" routerLink="/register">Register</a></li>
</ul>

