<div class="row">
  <div class="basicCard left-space">
    <div *ngIf="projectList!=null">
      <ul >
        <li *ngFor="let project of projectList">
          <div class="col s12">
            <div class="card horizontal">
              <div class="col s4 card-image" style="padding-top: 10px;" >
                <img class="materialboxed" [src]="project.imageUrl">
              </div>
              <div class="col s8 card-stacked">
                <span class="card-title" style="padding-top: 5px;" [innerText]="project.name"></span>
                <div class="card-content " style="max-height: 150px; overflow: scroll;
                      padding-left: 0px;" >
                  <p [innerText]="project.description"></p>
                </div>
                <div class="card-action" style="padding-left: 0px;">
                  <a (click)="showProject(project.id)" routerLink="/project/view">Show details</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
