
.row {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.basicCard {
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
  position: center;
  z-index: 1;
  background: #65657b;
  border-radius: 5px;
  max-width: 100%;
  overflow: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card {
  border-radius: 15px;
}

h4.left-align {
  margin: 0.7666666667rem 0 0.46rem 0;
}

hr.style-one {
  border: 0;
  height: 1px;
  border-color: #26a69a;
 /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(38, 166, 154, 1), rgba(0, 0, 0, 0));*/
}
