<div class="login-page">
  <form class="basicCard" (ngSubmit)="onSignIn(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" ngModel class="validate" >
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" ngModel class="validate" >
        <label for="password">Password</label>
      </div>
    </div>

     <div class="row">
          <div class="col s6">
            <button class="waves-effect waves-light btn custom-button" type="submit">Login</button>
          </div>
          <div class="col s6">
            <a class="waves-effect waves-light btn custom-button" routerLink="/register">Register</a>
          </div>
     </div>
  </form>
</div>
